* {
margin: 0;
padding: 0;
}

:root{
    --cinza-claro: #ececec;
    --branco: #ffffff;
    --black: #000000;
    --blue: #0059B3;
    --green: #689F38;
    --orange: #FBC02D;

    --font: font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    display: grid;
    height: 100vh;
    grid-template-rows: 0fr 0fr 1fr 0fr;
}

.titulo > h1{
    text-align: center;
    margin: 3rem;
}

main{
    background: var(--cinza-claro);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.calcTitulo, .calcDescricao{
    text-align: center;
    margin: 1rem;
}

.calc{
    display: none;
}

.calc > div{
    background: var(--branco);
    border-radius: 1rem;
    margin: 0rem 2rem;
    padding: 1rem;
}

.calc > div > input::placeholder{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1rem;
    vertical-align: middle;
}

.calc > div > input:hover{
    border: solid 1px var(--blue);
}

.calc > div > label{
    display: block;
    margin: 1rem;
    color: var(--blue);
}

.calc > div > input{
    border-radius: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 10rem;
    border: solid 1px var(--cinza-claro);
}

.resultado{
    border: solid 2px var(--branco);
    border-radius: 1rem;
}

.resultado > h3{
    margin: 1rem;
    color: var(--blue);
}

.resultado > div > div{
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-weight: 900;
}

.valoresResultado > div > div{
    margin-left: 1rem;
}

.button{
    background: var(--orange);
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.button:hover{
    cursor: pointer;
    background-color: var(--green);
    color: var(--branco);
}

.percentualPerdas{
   align-items: center;
}

.valorAdicional{
    text-align: left;
}

.valorAdicional > div{
    margin: 1rem;
}

.valorAdicional > div > label{
    margin: 0.5rem;
}

.buttonCalcular{
    margin-top: 2rem;
    text-align: center;
}

.exitshow{
    display: none;
}

.slide-in-blurred-top{
    border: solid 3px var(--branco);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

hr{
    background-color: var(--branco);
    border: none;
    margin: 1rem;
    height: 1px;
    background-color: var(--green);
}

.resultado > div > .numeroPecasMQ{
    display: block;
    border: solid 1px var(--cinza-claro);
    padding: 1rem;
    border-radius: 1rem;
}


.resultado > div > .numeroPecasMQ > div > div {
    display: flex;
    margin-left: 1rem;
}

.resultado > div > .numeroPecasMQ > div{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.material-symbols-outlined{
    color: var(--blue);
    margin-right: 1rem;
}

.info{
    display: none;
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

.material-symbols-outlined:hover + .info{
    display: block;
}

#numeroDePecasAltMQ, #numeroDePecasMCAlt{
    margin-left: 1rem;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--cinza-claro);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-9 15:14:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  footer{
    background: var(--blue);
    padding: 0.3rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100vw;
  }

  footer > a{
    color: var(--branco);
    font-size: 1rem;
    margin: 0rem 0.5rem;
  }

  footer > div{
    font-size: 0.7rem;
    color: var(--branco);
  }
  